{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div>
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a>
        <li><a href="{{ path('app_login') }}">Se connecter</a>

    </ul>
</div>
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        
        <button type="submit" class="btn btn-lg btn-primary">Enregistrer</button>           
    {{ form_end(registrationForm) }}
{% endblock %}
