{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div>
    <ul>
        <li>Pour revenir à l'accueil : <a href="{{ path('app_home') }}">Accueil</a>
        <li>Click here to <a href="{{ path('app_login') }}">Login</a>

    </ul>
</div>
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
