{% extends 'base.html.twig' %}

{% block title %}List of games{% endblock %}

{% block body %}

<div class="container">
    <h1>All games</h1>

    <div class="row row-cols-auto">
        {% for game in games %}
            <div class="card col" style="width: 18rem;">
                {% if game.background_image %}
                    <img src={{ game.background_image }} class="card-img-top" alt={{ game.name }}>
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ game.name }}</h2>
                    <a href="#" class="btn btn-primary">See more</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if previousPageUrl %}
        <a href={{ path('rawg_games', {'previousPageUrl': previousPageUrl}) }}>Previous page</a>
    {% endif %}
    {% if nextPageUrl %}
        <a href={{ path('rawg_games', {'nextPageUrl': nextPageUrl}) }}>Next page</a>
    {% endif %}
    {# {% if previous %}
        <a href={{ path('rawg_games', parameters = previous) }}>previous</a>
    {% endif %}
    {% if next %}
        <a href={{ path('rawg_games', parameters = next) }}>next</a>
    {% endif %} #}
    
</div>
{% endblock %}
